# Data Science Challenge 

## From: Gerardo Rodriguez

## Exercise 1

In [42]:
!ls -ltr

total 17562272
-rw-r--r--@ 1 rodrigerar  staff   483188920 Apr 10  2021 searches.csv.bz2
-rw-r--r--@ 1 rodrigerar  staff  3696229366 Apr 10  2021 searches.csv
-rw-r--r--@ 1 rodrigerar  staff   554970628 Apr 10  2021 bookings.csv.bz2
-rw-r--r--  1 rodrigerar  staff          77 Feb  2 15:25 README.md
-rw-r--r--  1 rodrigerar  staff          72 Feb  2 15:26 Untitled.ipynb
-rw-r--r--@ 1 rodrigerar  staff  4244874509 Feb  2 15:30 bookings.csv
-rw-r--r--  1 rodrigerar  staff       22829 Feb  2 16:53 notebook_gerardo_rodriguez.ipynb

In [2]:
! head -10 bookings.csv

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL
2013-03-26 00:00:00^1A    ^US      ^e612b9eeeee6f17f42d9b0d3b79e75ca^7437560d8f276d6d05eeb806d9e7edee^737295a86982c941f1c2da9a46a14043^2013-03-26 00:00:00^135270^0^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^CLTSAL  ^CLTSAL  ^SVUS    ^1^SALATLCLT      ^NV^L        ^Y        ^2013-04-12 13:04:00^2013-04-12 22:05:40^1^2013^3^NULL
2013-03-26 00:00:00^1A    ^US      ^e612b9eeeee6f17f42d9b0d3b79e75ca^7437560d8f276d6d05eeb806d9e7edee^737295a86982c941f1c2da9a46a14043^2013-03-26 00:00:00^135270^0^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^CLTSAL  ^CLTSAL  ^SVUS    ^1^CLTATLSAL      ^NV^U        ^Y        ^2013-07-15 07:00:00^2013-07-15 11:34:51^1^2013^3^NULL
2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6bd06661c95529bbd6193bc^36472c6dbaf7afec9136ac40364e2794^5ecf00fdcbcec761c43dc7285253d0c1^2013-03-26 00:00:00^30885^0^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKLSVO  ^AKLMOW  ^NZRU    ^1^AKLHKGSVO      ^XK^G        ^Y        ^2013-04-24 23:59:00^2013-04-25 16:06:31^1^2013^3^SYDA82546
2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6bd06661c95529bbd6193bc^36472c6dbaf7afec9136ac40364e2794^5ecf00fdcbcec761c43dc7285253d0c1^2013-03-26 00:00:00^30885^0^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^AKLSVO  ^AKLMOW  ^NZRU    ^1^SVOHKGAKL      ^XK^G        ^Y        ^2013-05-14 20:15:00^2013-05-16 10:44:50^1^2013^3^SYDA82546
2013-03-20 00:00:00^1V    ^US      ^0283592e45e392871f7e14b1e22a9aaf^2d0f8e7e1bb792625d2f34f221bc38f1^d54708298686de200f8270e7c637af5e^2013-03-20 00:00:00^5923^0^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DENLGA  ^DENNYC  ^USUS    ^0^DENLGA         ^FK^W        ^Y        ^2013-04-07 10:23:00^2013-04-07 16:14:24^1^2013^3^NULL
2013-03-20 00:00:00^1V    ^US      ^0283592e45e392871f7e14b1e22a9aaf^2d0f8e7e1bb792625d2f34f221bc38f1^d54708298686de200f8270e7c637af5e^2013-03-20 00:00:00^5923^0^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^DENLGA  ^DENNYC  ^USUS    ^0^LGADEN         ^FK^K        ^Y        ^2013-04-11 11:15:00^2013-04-11 13:06:24^1^2013^3^NULL
2013-03-25 00:00:00^1V    ^JP      ^5af045902bd23cab579915611d99e1e0^5073861d8597467c33596bfe16f23c56^a37584d1485cb35991e4ff1a2ba92262^2013-03-25 00:00:00^8371^60^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^HND     ^TYO     ^JP      ^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^NRTSIN  ^SINTYO  ^JPSG    ^1^NRTSIN         ^XR^Q        ^Y        ^2013-04-14 11:05:00^2013-04-14 17:10:56^2^2013^3^NULL
2013-03-25 00:00:00^1V    ^JP      ^5af045902bd23cab579915611d99e1e0^5073861d8597467c33596bfe16f23c56^a37584d1485cb35991e4ff1a2ba92262^2013-03-25 00:00:00^8371^60^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^HND     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^PEN     ^PEN     ^MY      ^PENSIN  ^PENSIN  ^MYSG    ^1^SINPEN         ^WS^Y        ^Y        ^2013-04-16 15:45:00^2013-04-16 17:15:29^2^2013^3^NULL

In [3]:
!tail -10 bookings.csv

2013-05-14 00:00:00^1A    ^IN      ^9e586aade06c70687736accbe5e98737^1032cd50f5b60ddef3e3f3f8e4285972^0fae61de5c249aaa28c2d573b589becf^2013-05-14 00:00:00^4003^2968^POM     ^POM     ^PG      ^MEL     ^MEL     ^AU      ^ADL     ^ADL     ^AU      ^MEL     ^MEL     ^AU      ^ADL     ^ADL     ^AU      ^ADLMEL  ^ADLMEL  ^AUAU    ^0^MELADL         ^GK^V        ^Y        ^2013-07-12 07:10:00^2013-07-12 08:13:15^2^2013^5^DELVS319B
2013-05-28 00:00:00^1A    ^US      ^000a63dddc771356a09b2df81781d933^dda0cc56cd8e7e238cef9601d4ed7038^1df256f97e81f128fce7397753ce4a4f^2013-05-28 00:00:00^6388^0^MEM     ^MEM     ^US      ^LAS     ^LAS     ^US      ^MEM     ^MEM     ^US      ^MEM     ^MEM     ^US      ^LAS     ^LAS     ^US      ^LASMEM  ^LASMEM  ^USUS    ^0^MEMLAS         ^NV^L        ^Y        ^2013-11-03 08:30:00^2013-11-03 09:58:22^2^2013^5^NULL
2013-05-28 00:00:00^1A    ^US      ^000a63dddc771356a09b2df81781d933^dda0cc56cd8e7e238cef9601d4ed7038^1df256f97e81f128fce7397753ce4a4f^2013-05-28 00:00:00^6388^0^MEM     ^MEM     ^US      ^LAS     ^LAS     ^US      ^MEM     ^MEM     ^US      ^LAS     ^LAS     ^US      ^MEM     ^MEM     ^US      ^LASMEM  ^LASMEM  ^USUS    ^0^LASMEM         ^NV^L        ^Y        ^2013-11-07 13:30:00^2013-11-07 18:58:22^2^2013^5^NULL
2013-05-14 00:00:00^1A    ^LK      ^1a5585bef21f0bf8dc865a87843635f9^6ff8fd087f94799d7aed903683384775^3b339797f7eca14c24e8b7565da822c0^2013-05-14 00:00:00^13203^0^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMBMAA  ^CMBMAA  ^INLK    ^1^CMBMAA         ^FV^V        ^Y        ^2013-05-15 13:35:00^2013-05-15 15:08:39^1^2013^5^NULL
2013-05-14 00:00:00^1A    ^LK      ^1a5585bef21f0bf8dc865a87843635f9^6ff8fd087f94799d7aed903683384775^3b339797f7eca14c24e8b7565da822c0^2013-05-14 00:00:00^13203^0^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^CMBMAA  ^CMBMAA  ^INLK    ^1^MAACMB         ^FV^V        ^Y        ^2013-05-24 16:05:00^2013-05-24 17:38:39^1^2013^5^NULL
2013-05-18 00:00:00^1A    ^LK      ^1a5585bef21f0bf8dc865a87843635f9^6ff8fd087f94799d7aed903683384775^3b339797f7eca14c24e8b7565da822c0^2013-05-14 00:00:00^13203^0^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^CMBMAA  ^CMBMAA  ^INLK    ^1^MAACMB         ^FV^V        ^Y        ^2013-05-24 16:05:00^2013-05-24 17:38:39^-1^2013^5^NULL
2013-05-18 00:00:00^1A    ^LK      ^1a5585bef21f0bf8dc865a87843635f9^6ff8fd087f94799d7aed903683384775^3b339797f7eca14c24e8b7565da822c0^2013-05-14 00:00:00^6003^0^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^CMBMAA  ^CMBMAA  ^INLK    ^1^MAACMB         ^FV^V        ^Y        ^2013-05-19 16:05:00^2013-05-19 17:38:39^1^2013^5^NULL
2013-05-28 00:00:00^1A    ^US      ^07e98d2fd3cd4b737266b99727f7faa8^e8741eaf2fa2f71f931475d18fa72096^2b22597bdad931843c3b1d5219836e07^2013-05-28 00:00:00^328^1865^AUS     ^AUS     ^US      ^RDU     ^RDU     ^US      ^RDU     ^RDU     ^US      ^AUS     ^AUS     ^US      ^RDU     ^RDU     ^US      ^AUSRDU  ^AUSRDU  ^USUS    ^0^AUSDFWRDU      ^KK^Q        ^Y        ^2013-07-12 08:35:00^2013-07-12 15:03:14^1^2013^5^SEAEX38AA
2013-05-28 00:00:00^1A    ^FR      ^e2679367673d50f1ee085127d8a00eba^5f26f53ca29672815e0ee3bd93a2b0e4^4eb40315a7263131ae17712cd505b62a^2013-05-28 00:00:00^588^0^TLS     ^TLS     ^FR      ^ORY     ^PAR     ^FR      ^TLS     ^TLS     ^FR      ^TLS     ^TLS     ^FR      ^ORY     ^PAR     ^FR      ^ORYTLS  ^PARTLS  ^FRFR    ^0^TLSORY         ^KP^S        ^Y        ^2013-06-04 10:50:00^2013-06-04 12:18:20^1^2013^5^LYSSR210Z
2013-05-28 00:00:00^1A    ^FR      ^e2679367673d50f1ee085127d8a00eba^5f26f53ca29672815e0ee3bd93a2b0e4^4eb40315a7263131ae17712cd505b62a^2013-05-28 00:00:00^588^0^TLS     ^TLS     ^FR      ^ORY     ^PAR     ^FR      ^TLS     ^TLS     ^FR      ^ORY     ^PAR     ^FR      ^TLS     ^TLS     ^FR      ^ORYTLS  ^PARTLS  ^FRFR    ^0^ORYTLS         ^KP^S        ^Y        ^2013-06-04 19:10:00^2013-06-04 20:38:20^1^2013^5^LYSSR210Z

In [4]:
!cat bookings.csv | wc -l

 10000011

In [5]:
!bzcat bookings.csv | wc -l

bzcat: bookings.csv is not a bzip2 file.
       0

In [21]:
import bz2

In [22]:
file = 'bookings.csv.bz2'

In [23]:
booking_file = bz2.open(file, "r")

In [24]:
print (booking_file)

<bz2.BZ2File object at 0x7fc1a44a6040>

In [28]:
# reading a bz2 archive
count = 0

with bz2.open(file, "rt") as bzfin:
    for line in bzfin:
        count += 1

print (count)

10000011

## Exercise 2

In [2]:
import pandas as pd

In [3]:
file = 'bookings.csv.bz2'

In [4]:
df = pd.read_csv (file, nrows=100000, delimiter='^')

### Loading data into a Pandas Dataframe:
* We found the nrows option in order to read large csv files.
* Related with the files compression, Pandas has the compression='infer' option.

In [5]:
df

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2013-03-03 00:00:00,1G,FR,a17ff438d62736177e21cee453a8902c,f0181fdb07090669940ab0b77092dea7,c534700c8c6578655ea00d7d9056cde0,2013-02-28 00:00:00,11731,0,DEL,...,DELIXL,CH,N,Y,2013-05-02 05:40:00,2013-05-02 07:11:47,2,2013,3,NULL
99996,2013-03-05 00:00:00,1G,FR,a17ff438d62736177e21cee453a8902c,f0181fdb07090669940ab0b77092dea7,c534700c8c6578655ea00d7d9056cde0,2013-02-28 00:00:00,11731,0,DEL,...,DELIXL,CH,N,Y,2013-05-02 05:40:00,2013-05-02 07:11:47,-2,2013,3,NULL
99997,2013-03-05 00:00:00,1G,FR,a17ff438d62736177e21cee453a8902c,f0181fdb07090669940ab0b77092dea7,c534700c8c6578655ea00d7d9056cde0,2013-02-28 00:00:00,11731,0,DEL,...,IXLDEL,CH,Q,Y,2013-05-10 07:40:00,2013-05-10 09:11:47,-2,2013,3,NULL
99998,2013-03-20 00:00:00,1G,ZA,355368d5d743bd879313059478579059,a6dc7522954b518c8530ee2058ac946a,34ce3041cf21fe149b175c82dc991183,2013-03-20 00:00:00,4612,0,HLA,...,HLACPT,WX,O,Y,2013-06-14 14:55:00,2013-06-14 17:12:14,2,2013,3,NULL
99999,2013-03-20 00:00:00,1G,ZA,355368d5d743bd879313059478579059,a6dc7522954b518c8530ee2058ac946a,34ce3041cf21fe149b175c82dc991183,2013-03-20 00:00:00,4612,0,HLA,...,CPTHLA,WX,I,C,2013-06-17 17:30:00,2013-06-17 19:47:14,2,2013,3,NULL

In [6]:
print(df.columns)

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [50]:
df.columns = df.columns.str.replace(' ', '')

In [7]:
df.columns = df.columns.str.strip()

In [8]:
print(df.columns)

Index(['act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid', 'rloc',
       'cre_date', 'duration', 'distance', 'dep_port', 'dep_city', 'dep_ctry',
       'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city', 'lst_ctry',
       'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city', 'off_ctry',
       'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route', 'carrier',
       'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax', 'year',
       'month', 'oid'],
      dtype='object')

### Sorting and getting top-10:

* Two options to get the top-10. Using nlargest() method or sort_values(ascending=False).head() methods.

In [12]:
df.groupby("arr_port")["pax"].sum().nlargest(10)

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64

In [25]:
df.groupby("arr_port")["pax"].sum().sort_values(ascending=False).head(10)

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64

### Filtering by 'year' column:

* I found df.loc method on order to filter year column for a specific value.
* I apply df.loc to the original data frame and then I assign the result to a new data frame.

In [41]:
print (df['year'])
#print (df['year'] == 2013)
#df.loc[df['year'] == 2013]

0        2013
1        2013
2        2013
3        2013
4        2013
         ...
99995    2013
99996    2013
99997    2013
99998    2013
99999    2013
Name: year, Length: 100000, dtype: int64

In [43]:
df_filtered = df.loc[df['year'] == 2013]
df_filtered.groupby("arr_port")["pax"].sum().sort_values(ascending=False).head(10)

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64